# Laravel

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Custom

/public/storage
/public/js
/public/css
/public/mix-manifest.json
vendor/
/.idea
/.vscode
/.vagrant
.env.dusk.local
.DS_Store
