.btn-remove {
    float: left;
    color: #f56c6c;

    &:hover {
        color: #990000;
    }
}

.btn-cancel {
    color: #666;

    &:hover {
        color: #939393;
    }
}

.easy-button-button {
    cursor: pointer !important;
}